<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The estimate of the user story</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>History:</h1>
<p th:text="'Number of story points in two last weeks: ' + ${history.numberOfStoryPointsInTwoLastWeeks}" />
<p th:text="'Total number of the estimated user stories: ' + ${history.totalNumberOfEstimatedUserStories}" />
<a href="/estimate">Go back</a>
</body>
</html>