<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The estimate of the user story</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>The estimate:</h1>
<p th:text="'User story: ' + ${estimate.userStory}" />
<p th:text="'Hours: ' + ${estimate.hours}" />
<p th:text="'Story points: ' + ${estimate.storyPoints}" />
<a href="/estimate">Go back</a>
</body>
</html>